/* General */
:root {
  --primary-dark: #12130f;
  --primary-light: #eae6e5;
  --dark-green: #5b9279;
  --light-green: #8fcb9b;
  --neutral: #af9e90;
  --max-width: 990px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-light);
  /* font related */
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
#course-title {
  font-family: 'Noto Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* Specific */
main,
aside,
footer {
  padding: 1rem;
}

#course-title {
  display: block;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  background-color: var(--neutral);
}

header nav {
  background-color: var(--primary-dark);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation a {
  display: block;
  color: #eee;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

main h1 {
  grid-column: 1 / 4;
}

.card {
  margin: 0.5rem;
}

.left {
  grid-column: 1 / 3;
}

.right {
  grid-column: 3 / 4;
}

.profile-img {
  width: 150px;
  float: right;
  margin-left: 0.5rem;
}

.card h2 {
  background-color: var(--dark-green);
}

.projects-list li {
  list-style-type: none;
}

.projects-list li a {
  text-decoration: none;
}

section h2 {
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-dark);
  color: #fff;
}
